# do not lint node_modules
node_modules

# do not lint build output
dist

# do not lint eslintrc
.eslintrc.js

# do not lint jest configuration file
jest.config.js

# do not lint webpack configuration file
webpack.config.js